
/*import fonts from Google*/
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Roboto:wght@500&display=swap');

.App {
  padding: 10px;
  padding-bottom: 30px;
  background-color: black;
}

.App h5{
  font-family: Graduate, sans-serif;
}